h3 {
    margin-top: 0px;
    color: #555;
}

form#searchform input {
    width: 400px;
    padding-left: 70px;
    background-image: url('/assets/mg.png');
    background-repeat: no-repeat;
    background-position: left 10px top 50%;
}

.form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}

form#searchform button {
    line-height: 1.8em;
    margin-left: 15px;
    cursor: pointer;
}

#search {
    margin:0 auto;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}