h3 {
    margin-top: 0px;
    color: #555;
}

.addtosaved {
    float: right;
}

form#searchform {
    margin-top: 21px;
    margin-bottom: 20px;
}

form#searchform button {
    margin-top: 20px;
}

.input-jumbo {
    padding: .5rem 1rem !important;
    font-size: 1.25rem !important;
    line-height: 1.5 !important;
    border-radius: .3rem !important;
}