h3 {
    margin-top: 0px;
}

.edit-link a {
    font-size: 20px;
    margin-top: 12px;
}

.componenttitle {
    margin: 20px 0 0 0;
}

.nolocations {
    float: left;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 25px;
    padding: 18px;
    font-size: 16px;
    color: #555;
    background-color: white;
}

.delete {
    cursor: pointer;
}

#saved-tile {
    width: 25%;
    float: left;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    margin: 20px 25px 25px 25px;
    padding: 18px;
    font-size: 16px;
    height: 312px;
    background-color: white;
    cursor: pointer;
}

#saved-tile:hover {
  background-color: #FFFFD4;
}
  
#saved-tile div {
      margin-bottom: 15px;
}
  
#saved-tile #description {
      margin-bottom: 0px;
}

#saved-tile #description, #saved-tile #temperature, .componenttitle {
    color: #555;
}

#saved-tile .result.temp {
    font-size: 24px;
}