<simple-notifications [options]="options"></simple-notifications>

<app-subnav></app-subnav>

<form id="searchform" (submit)="getWeather(locationinput.value)">
    
  <div class="form-group">
    <h2 class="page-header">Enter search location</h2>
    <input type="text" class="form-control form-control-lg input-jumbo" placeholder="ex: seattle, moscow, 32082" #locationinput>
  </div>
  <div class="error bg-warning"></div>
  <button class="btn btn-primary">Get current weather</button>

</form>

<div id="weather-forecast" *ngIf=report>

  <div>
    <a class="btn btn-success addtosaved" href="#" (click)="addToSavedLocations(report.name)">Add to saved locations</a>
  </div>
  
  <div id="city">City: 
    <span class="result">{{report.name}}</span>
  </div>
      
  <div id="temperature">Temperature: 
    <span class="result">{{convertTemp(report.main.temp)}}
    </span>
  </div>
      
  <div id="description">Weather conditions:
    <span class="result">{{report.weather[0].description}}</span>
  </div>  

  <div class="weather-icon {{removeWhitespace(report.weather[0].description)}}"></div>
    
</div>
  

