<simple-notifications [options]="options"></simple-notifications>

<app-search (changeWeather)="updateWeather($event)"></app-search>

<div class="current-weather-tile" *ngIf=report>

  <div class="addtosaved">
    <a class="btn btn-success" href="#" (click)="addToSavedLocations(report.name)">Add to dashboard</a>
  </div>
  
  <h3 class="result">{{report.name}}</h3>
      
  <div id="temperature">Temperature: 
    <span class="result temp">{{convertTemp(report.main.temp)}}
    </span>
  </div>
      
  <div id="description">Current conditions:
    <span class="result">{{report.weather[0].description}}</span>
  </div>  

  <div class="weather-icon {{removeWhitespace(report.weather[0].description)}}"></div>
    
</div>